{% import "macros.pddl.j2" as pddl %}
(define (problem narrative-journey)
  (:domain narrative-flow)
  (:objects
{{ pddl.render_object_lines(objects) }}
  )
  (:init
{{ pddl.render_facts(init_facts) }}
  )
  (:goal
    {% if custom_goal %}
    {{ custom_goal }}
    {% else %}
    (visited {{goal_context_id}})
    {% endif %}
  )
)
