{% import "macros.pddl.j2" as pddl %}
(define (problem {{world_id}}-quest)
  (:domain {{domain_id}})
  (:objects
{{ pddl.render_typed_objects(types, player_id) }}
  )
  (:init
{{ pddl.render_facts(init_facts) }}
  )
  (:goal
    {{goal_pddl}}
  )
)
