(define (problem {{world_id}}-quest)
  (:domain {{domain_id}})
  (:objects
{% for type_name, obj_list in types.items() %}
{% if obj_list %}
    {{ obj_list | join(' ') }} - {{ type_name }}
{% endif %}
{% endfor %}
    {{player_id}} - object
  )
  (:init
{% for fact in init_facts %}
    {{ fact }}
{% endfor %}
  )
  (:goal
    {{goal_pddl}}
  )
)